<h1>Home Page <%= locals.title%>
</h1>

<ul>
    <%for(student of students){%>
        <li>
            <p>
                <a href="/students/updateStudentData?id=<%= student._id%>">
                    <%= student.name %>
                </a>
            </p>
            <p>
                <%= student.std_college %>
            </p>
        </li>
        <%}%>
</ul>