<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>

<body>
    <center>
        <%- include('_header') -%>
            <%- body -%>
        <%- include('_footer') -%>
    </center>
</body>

</html>